#customContainer {
  padding-top: 15px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgb(63, 81, 181, 0.8);
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.white-box {
  padding-top: 75px;
  width: 97.5%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 10px;
  padding-bottom: 15px;
}
.content {
  margin-left: auto;
  margin-right: auto;
  width: 97.5%;
}
