<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">

    <!-- Navbar brand -->
    <mdb-navbar-brand><a routerLink="/home" class="navbar-brand" href="#">Home</a></mdb-navbar-brand>

    <!-- Collapsible content -->
    <links>

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li routerLinkActive="active" class="nav-item">
                <a routerLink="/skills" class="nav-link waves-light" mdbWavesEffect>Skills</a>
            </li>
            <li routerLinkActive="active" class="nav-item">
                <a routerLink="/certificates" class="nav-link waves-light" mdbWavesEffect>Certificates</a>
            </li>
            <li routerLinkActive="active" class="nav-item">
                <a routerLink="/portfolio" routerLinkActive="active" class="nav-link waves-light" mdbWavesEffect>Portfolio</a>
            </li>

        </ul>
        <!-- Links -->
    </links>

</mdb-navbar>
<!--/.Navbar-->